<h1>ヘルプ・ユーザーガイド</h1>

<div class="bg-info p-20 mb-30">
  RECMATCHのサービスに関するヘルプ・ユーザーガイドです。FAQ（よくある質問と回答）形式です。<br>
  こちらにお探しの質問・回答が見つからない場合は、<%= link_to 'こちら', contact_path, class: 'text-info' %>までお問い合わせください。
</div>
