<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header text-center">
        <h1>アクティベートコードの発送作業を行っています</h1>
      </div>
      <div class="card-body card-padding">
        <p class="text-center">
          発送作業が完了しましたらメールでご連絡いたします。
        </p>
      </div>
    </div>
  </div>
</div>

