<p>
  掲載日時　：　<%= l(@project.start_at) %>
</p>
<p>
  掲載情報は随時変更となる可能性があります。<br>
  オファーをご希望の方はお時間に余裕を持って申し込みを完了させてください。
</p>
<p>
  ※掲載情報に不備などがあれば、お手数ですが<%= link_to '「RECMATCH相談窓口」', contact_path, target: '_blank', class: 'text-info' %>
  までご連絡をお願いします。
</p>
