<div class="media">
  <div class="pull-left">
    <%= profile_image(profile, class: "lv-img-sm") %>
  </div>
  <div class="media-body">
    <div class="lv-title"><%= profile.name %></div>
    <small class="lv-small"><%= profile.description %></small>
  </div>
</div>
