<ul class="nav nav-pills nav-justified text-center mb-20">
  <li class="<%= 'active' if step == 1 %>">
    STEP1<br>
    学生適合性確認
  </li>
  <li class="<%= 'active' if step == 2 %>">
    STEP2<br>
    学生申請書
  </li>
  <li class="<%= 'active' if step == 3 %>">
    STEP3<br>
    各種届出
  </li>
  <li class="<%= 'active' if step == 4 %>">
    STEP4<br>
    更新内容の確認
  </li>
</ul>
