<% content_for(:page_classes) { 'mypage applicants show' } %>

<div id="index_view" class="card z-depth-1">
  <div class="card-header with-border text-center">
    <h3><span><i class="fa fa-comments-o" aria-hidden="true"></i> チャット</span></h3>
  </div>
  <div class="card-body table-responsive pt-20 mb-20">
    <% if @can_send_companies.present? %>
      <% @can_send_companies.each do |c| %>
        <%= link_to mypage_student_chat_message_path(c.company.id) do %>
          <div class="container-fluid">
            <div class="row mb-20">
              <div class="col-md-8 col-md-offset-2">
                <div class="pull-left">
                  <%= image_tag(c.company.image.thumb.url, width: 40, class: 'media-object') if c.company.present? && c.company.image.present? %>
                </div>
                <div class="pull-left pt-5 pl-20">
                  <%= c.company.name %>
                </div>
                <div class="pull-right">
                  <span style="font-size:20px;">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <% if ChatMessage.where('student_id = ? AND company_id = ? AND direct = ? AND kidoku = ?', current_user.student.id,c.company.id , false, false).size > 0 %>
                      <span class="badge" style="background-color:red;"><%= ChatMessage.where('student_id = ? AND company_id = ? AND direct = ? AND kidoku = ?', current_user.student.id,c.company.id , false, false).size %></span>
                    <% else %>
                      <span>　</span>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
