<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header text-center">
        <h1>ご登録ありがとうございます</h1>
      </div>
      <div class="card-body card-padding">
        <p class="text-center mb-35">
          引き続きRECMATCHのサービスをご利用ください。<br>
          尚、ご登録いただいた内容は随時<%= link_to 'マイページ', mypage_student_path, class: 'text-info' %>から更新できます。</a><br>
          また、<b>エントリーシートの入力</b>をマイページからご登録していただきますと<br>
          企業からのオファー獲得率が大幅に向上します。
        </p>
        <ul class="asterisk text-muted">
          <li><b>エントリーシートの入力</b>はマイページ<b>エントリーシートの入力</b>タブから登録できます。</li>
        </ul>
      </div>
    </div>
  </div>
</div>
