<div class="projects thumb">
  <div class="card z-depth-1">
    <%= link_to event do %>
      <%= image_tag(event.image.thumb16by9.url, class: 'img-responsive', alt: event.name) %>
    <% end %>
    <div class="card-body card-padding-sm bgm-gray-lighter">
      <%= render 'events/details', event: event, title: true, succeeded: defined?(succeeded) && succeeded, xs_half: defined?(xs_half) && xs_half %>
    </div>
  </div>
</div>
