<div class="wizard">
  <ul class="tab-nav text-center">
    <li class="<%= 'active' if step == 'contract' %>"><span>1. 契約締結前交付書面の確認</span></li>
    <li class="<%= 'active' if step == 'notification' %>"><span>2. 募集株式の発行事項に関するご通知の確認</span></li>
    <li class="<%= 'active' if step == 'confirm' %>"><span>3. 申込み内容の確認</span></li>
  </ul>
</div>
