<div class="text-center">
  <h1>申込みできませんでした</h1>
  <div class="mb-20">同一のコースにお申込みされる場合は一定時間お待ちいただく必要があります。</div>
  <%= link_to "#{@product.project.name}のページに戻る", @product.project, class: 'btn btn-lg btn-default' %>
</div>
