<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">お気に入り学生一覧</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
        <tr>
          <th>学生名</th>
          <th>大学</th>
          <th>操作</th>
        </tr>
        </thead>
        <% @favorites.each do |favorite| %>
          <tbody>
            <tr>
              <td>
                <%= link_to mypage_company_search_student_path(favorite.student.id) do %>
                  <%= favorite.student.name %>
                <% end %>
              </td>
              <td><%= University::names_with_univ.key(favorite.student.university) %></td>
              <td>
                <%= link_to '表示', mypage_company_search_student_path(favorite.student.id), class: 'btn btn-xs btn-info-o' %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>