<div class="media">
  <div class="pull-left">
    <small class="text-muted pr-10"><%= media.date.strftime('%Y年%m月%d日') %></small>
  </div>
  <div class="media-body">
    <%= media.name %>
  </div>
</div>
