<div class="text-center">
  <div class="mb-30">
    <h1>ご登録ありがとうございます。</h1>
    <p>
      ご入力いただいた内容で、登録手続きを行います。<br>
      手続きが完了しましたらメールでご連絡いたします。<br>
      なお、登録手続きは3営業日頂戴しておりますので予めご了承ください。
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'マイページ', mypage_root_path, class: 'btn btn-lg btn-default mr-10' %>
      <%= link_to 'トップに戻る', root_path, class: 'btn btn-lg btn-default' %>
    </div>
  </div>
</div>
