<ul class="tab-nav text-center">
  <li class="<%= 'active' if step == 1 %>">
    <span>STEP1<br>確認および同意事項</span>
  </li>
  <li class="<%= 'active' if step == 2 %>">
    <span>STEP2<br>学生個人情報入力</span>
  </li>
  <li class="<%= 'active' if step == 3 %>">
    <span>STEP3<br>入力内容の確認</span>
  </li>
</ul>
