<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>取引先勘定元帳</title>
  <%= wicked_pdf_stylesheet_link_tag 'ledger', media: 'all' %>
</head>
<body class="company-account">
  <div class="note">
    約定日　　　　：割当通知送付日<br>
    受渡日　　　　：発行者に集めた資金の払い込みをした日<br>
    振込入出金日　：JCCが取引先（発行者）に支払いをした日、または、取引先（発行者）からJCCに入金した日<br>
    数量欄等「ｃ」：数量・約定金額・貸方・借方欄の記載数量に表示がある場合は<br>
    　　　　　　　：申込撤回、契約解除又は失権<br>
    最終稼働月　　：当月以前に取引等が発生した年月<br>
    内訳　　　　　：00 募集の取扱い<br>
    　　　　　　　：01 振込入出金<br>
    　　　　　　　：02 その他振替<br>
    　　　　　　　：03 発行者への送金<br>
    　　　　　　　：04 申込撤回、契約解除又は失権<br>
    　　　　　　　：05 手数料の振込入金<br>
    　　　　　　　：06 手数料勘定への振替<br>
    　　　　　　　：07 その他入金<br>
    　　　　　　　：08 審査料の振込入金<br>
    　　　　　　　：09 システム利用料振込入金<br>
    　　　　　　　：10 システム利用料勘定への振替<br>
    数量　　　　　：1株単位<br>
    単価　　　　　：円単位<br>
    借方　　　　　：円単位<br>
    残高　　　　　：円単位<br>
  </div>

</body>
</html>
