.c-primary {
  color: $brand-primary;
}

.c-info {
  color: $brand-info;
}

.c-black {
  color: #000;
}

.c-gray {
  color: $gray;
}

.bgm-accent {
  background-color: $lime;
}

.bg-white {
  background-color: #fff !important;
}

.bg-accent {
  background-color: $lime !important;
}

.bg-bluegray-light {
  background-color: $bluegray-light;
}

.bgm-lime {
  background-color: $lime;
}

.bgm-deeppurple {
  background-color: $deeppurple;
}

.bgm-bluegray  {
  background-color: $bluegray;
}

.bg-white {
  background-color: #fff;
}

.bg-bluegray-light {
  background-color: $bluegray-light;
}
