<div class="modal-dialog modal-social" role="document">
  <div class="modal-content">
    <div class="modal-social__close">
      <a class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-social__body">
      <h5 class="modal-social__title"><%= title_modal %></h5>
      <ul>
        <li class="modal-social__body__item">公序良俗に反する表現や、正確性を欠く表現等の記載はご遠慮ください。</li>
        <li>また、 ここに記載された内容について、弊社は一切の責任を負いませんので、ご了承ください。</li>
      </ul>
    </div>
    <div class="modal-social__footer">
      <%= display_button(social, title) %>
    </div>
  </div>
</div>
